p {
font-family: 'Courier New', Courier, monospace;
font-size: 25px;
color: rgb(255, 17, 0);

}
.parrafo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: #1100ffa9;
    
    }

    .img-p{
        border-radius: 100%;
    }