table{
    border-collapse: collapse;
    width: 100%;
    background-color: aquamarine;
    

}
th, td{
    border: 1px solid rgb(92, 91, 91);
    padding: 8px;
    text-align: left;
    border-radius: 1%;
}
th{
    background-color: #2432b4;

}

body{
    background-color: burlywood;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    position: absolute;
    top: 1%;
    left: 10px;
    width: 75px;
    height: auto;
}